HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### H2 Database (중요) ###
/data/
*.mv.db
*.trace.db

### Logs ###
logs/
*.log

### OS ###
.DS_Store

### Spring Boot 환경 파일 (중요) ###
# 로컬/개발 환경에서만 사용하는 값들 보호
src/main/resources/application-local.yml
src/main/resources/application-local.properties
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

pair-key
last-dance-key-pair.pem
